In [1]:
%run db2re.ipynb

Pixiedust database opened successfully

Unable to check latest version <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1076)>
DB2 Extensions Loaded.

In [2]:
db2id = \
{
  "db": "BLUDB",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=kzq56513;PWD=wpc08xgwv@11vzfq;",
  "host": "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "hostname": "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "https_url": "https://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB",
  "parameters": {},
  "password": "wpc08xgwv@11vzfq",
  "port": 50000,
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=kzq56513;PWD=wpc08xgwv@11vzfq;Security=SSL;",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;",
  "uri": "db2://kzq56513:wpc08xgwv%4011vzfq@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB",
  "username": "kzq56513"
}
%sql connect credentials db2id

Command completed.

In [4]:
%%sql 
select * from CENSUS_DATA limit 10;

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39
1,2,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46
2,3,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20
3,4,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17
4,5,North Center,0.3,7.5,5.2,4.5,26.2,57123,6
5,6,Lake View,1.1,11.4,4.7,2.6,17.0,60058,5
6,7,Lincoln Park,0.8,12.3,5.1,3.6,21.5,71551,2
7,8,Near North Side,1.9,12.9,7.0,2.5,22.6,88669,1
8,9,Edison Park,1.1,3.3,6.5,7.4,35.3,40959,8
9,10,Norwood Park,2.0,5.4,9.0,11.5,39.5,32875,21

In [5]:
%%sql 
select count(*) as number_of_arrest 
from CHICAGO_CRIME_DATA 
where ARREST = 'TRUE';

# Problem 4: Which unique types of crimes have been recorded at a GAS STATION?

   NUMBER_OF_ARREST
0               163

In [12]:
%%sql 
select distinct(PRIMARY_TYPE)
from CHICAGO_CRIME_DATA
where LOCATION_DESCRIPTION = 'GAS STATION';

      PRIMARY_TYPE
0  CRIMINAL TRESPA
1        NARCOTICS
2          ROBBERY
3            THEFT

In [54]:
result.get('error')

'"KZQ56513.EMPLOYEE123" is an undefined name.. SQLCODE=-204, SQLSTATE=42704, DRIVER=4.26.14'